#overlay
  position: absolute
  top: 0
  left: 0

  color: white
  background-color: rgba(0, 0, 0, .6)
  padding: 8px
  border-right: 3px solid white
  border-bottom: 3px solid white
  border-radius: 4px